.navContainer {
  @include flex(row, space-between, center);
  margin-bottom: 80px;
}
.navigation {
  @include flex(row, end, end);
}
.button {
  display: inline-block;
  margin: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: $brown;
  border: 1px solid $gray;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.button:hover {
  scale: 1.1;
  color: white;
  background-color: $brown;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.logo {
  width: 200px;
}
