.todos {
  margin: 20px auto 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.todoNav {
  @include flex(row, space-between, center);
}

.todoItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid $soft-gray;
  border-radius: 5px;
  background-color: $light-gray;
}
.todoItem:hover {
  background-color: $soft-gray;
}
.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.searchInput:focus {
  outline: none;
  border-color: #303030;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
